<app-menu></app-menu>

<div class="container mt-4">
  <div class="row justify-content-center header">
    <div class="p-5 mb-4 rounded-3">
      <div class="text-center">
        <h1>bienvenidos a</h1>
        <img class="img-fluid" src="assets/img/blogBuster600.png">
        <h6 class="text-muted text-monospace color mt-1">el blog que siempre quisiste tener, pero nunca te atreviste a
          programar</h6>
      </div>
    </div>
  </div>

  <app-look [titulo]="titulo" [cuerpo]="cuerpo" [fecha]="fecha" [etiquetas]="etiquetas"></app-look>

  <div class="d-grid gap-2 d-md-block mb-5 d-md-flex justify-content-md-center mt-4">
    <a class="btn btn-primary mx-2" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> Volver </a>
  </div>
</div>
<app-footer></app-footer>