.shadow {
    padding: 10px;
    text-align: center;
}

.container {
    width:70%;
}

.col-form-label {
   padding-top: 0 !important;
}

label {
    font-size: large;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

button {
    margin:0 auto;
}

div {
    margin: 0 auto;
    text-align: center;
}

hr {
    margin: auto;
}

.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 0px 20px;
}

.header{
    background-color: #6dcae7;
    border-radius: 60%;
}

h1 {
    text-shadow: 1px 1px 1px black;
}