.limitTextHeight {
    height: 23px;
    overflow: hidden;
}
.derecha {
    text-align: right;
}
/*.search-results-container{
    margin: 40px;
    height: 350px;
    width: 500px;
    overflow: auto;
}*/
.header{
    background-color: #C1E0F7;
}
.card-body:hover{
    background-color: #EFE7E5;
    }
.card-body{
    transition: background-color 0.4s linear 0.1s;
}
.card{
    border-radius: 2%;
}
.card-title{
    text-shadow: 1px 1px 1px black;
}
.color{
    color: #0664CB !important;
}