.limitTextHeight {
    height: 23px;
    overflow: hidden;
}
.derecha {
    text-align: right;
}
/*.search-results-container{
    margin: 40px;
    height: 350px;
    width: 500px;
    overflow: auto;
}*/