td{
    border:solid 1px black;
    padding: 10px;
    vertical-align: middle;

}
div.btn-group{
    box-shadow: none;
}
th, .sombra{
    font-size: large;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

h2, h4 {
    text-align: center;
}
