<app-menu></app-menu>
<div class="header shadow mt-3">
        <h1><span class="font-weight-bold" ><i class="fas fa-plus"></i> Nuevo Post</span></h1>
    </div>
<div class="container">
    
    <div class="row mt-5">
        <div class="col">
            <form name="userForm" [formGroup]="formularioNew" *ngIf="showForm" (ngSubmit)="onSubmit();showForm=false;showSuccess=true;" novalidate>
                <div class="form-group row my-3">
                    <label for="id" class="col-sm-2 col-form-label"  ng-show="authStatus==200">Id:</label>
                    <div class="col-sm-6"  ng-show="authStatus==200">
                        <input type="text"  id="id" disabled>
                    </div>
                </div>
                <div class="form-group row my-3">
                    <label for="titulo" class="col-sm-2 col-form-label"  ng-show="authStatus==200">Titulo:</label>
                    <div class="col-sm-6">
                        <input type="text" formControlName="titulo" class="form-control" id="titulo" name="titulo"
                        [class.is-invalid]="(formularioNew.get('titulo')!.pristine || formularioNew.get('titulo')!.dirty) && formularioNew.get('titulo')!.invalid">
                        <div class="invalid-feedback"
                        *ngIf="!formularioNew.get('titulo').errors?.minlength || formularioNew.get('titulo')!.dirty">
                        Se debe introducir un título
                    </div>
                    </div>
                </div>
                <div class="form-group row my-3">
                    <label for="cuerpo" class="col-sm-2 col-form-label"  ng-show="authStatus==200">Cuerpo:</label>
                    <div class="col-sm-6">
                        <textarea id="cuerpo" name="comentarios" rows="8" cols="50" name="cuerpo" formControlName="cuerpo" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group row my-3">
                    <label for="fecha" class="col-sm-2 col-form-label"  ng-show="authStatus==200">Fecha:</label>
                    <div class="col-sm-6">
                        <input type="date"  id="fecha" name="fecha" formControlName="fecha">
                        <input type="time" id="hora" name="hora" formControlName="hora">
                    </div>
                </div>
                <div class="form-group row my-3">
                    <label for="etiquetas" class="col-sm-2 col-form-label"  ng-show="authStatus==200">Etiquetas:</label>
                    <div class="col-sm-6">
                        <input type="text" formControlName="etiquetas" class="form-control" id="inputAddress" name="etiquetas">
                    </div>
                </div>
                <div class="form-group row my-3">
                    <label for="etiquetas" class="col-sm-2 col-form-label"  ng-show="authStatus==200">Visible:</label>
                    <div class="col-sm-6">
                        <input class="form-check-input" type="checkbox" value="" id="visible" formControlName= "visible">
                        <label class="form-check-label" for="flexCheckChecked"></label>
                    </div>
                </div>
               
                <hr>
                <p>Form status: {{ formularioNew.status | json }}</p>
                <div class="my-5" style="text-align: center;">
                    <button type="submit" class="btn btn-success mx-3" [disabled]="formularioNew.invalid">Enviar</button>
                    <a href="http://localhost:4200/plist"><button type="button" class="btn btn-success">Volver</button></a>
                </div>
            </form>
                <div class="shadow my-3" *ngIf="showSuccess" style="background-color:aquamarine;">
                    <h2><span class="font-weight-bold" ><i class="fas fa-check"></i> ¡Nuevo Post añadido correctamente!</span></h2>
                </div>
                <div class="my-5" style="text-align: center;">
                    <a href="http://localhost:4200/plist"><button type="button" class="btn btn-success" *ngIf="showSuccess">Volver</button></a>
                </div>
        </div>
    </div>    
</div>
